


<div class="text">
<br><br>
  <form #hockeyform="ngForm" (ngSubmit)="onSubmit(hockeyform)">
  <label>Namn </label>
  <input type="text" [(ngModel)]="newSpelare.Namn" placeholder="Skriv namn här.." name="Namn"><br/><br/>

  <label>Fattning </label>
  <select name="Fattning" [(ngModel)]="newSpelare.Fattning">
    <option value="Vänster">Vänster</option>
    <option value="Höger">Höger</option>
  </select> <br/><br/>

  <label>Ålder (endast siffror) </label>
  <input type="text" [(ngModel)]="newSpelare.Alder" placeholder="Skriv ålder här.." name="Alder" pattern="[0-9]+"  required="required"><br/><br/>

  <label>Längd (endast siffror) </label>
  <input type="text" [(ngModel)]="newSpelare.Langd" placeholder="Skriv längd här.."name="Langd" pattern="[0-9]+"  required="required"> <br/><br/>

  <label>Position </label>
  <select name="Position" [(ngModel)]="newSpelare.Position">
    <option value = "Back">Back</option>
    <option value = "Målvakt">Målvakt</option>
    <option value = "Center">Center</option>
    <option value = "Forward">Forward</option>
  </select>

<br> <br>
  <button (click)=hockeyform.form.valid >Lägg till</button>
</form>

</div>


