bak {
  background-image: url("../../../assets/images/4k-vaxjo-lakers-grunge-hockey-club-shl.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
